{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="https://unpkg.com/htmx.org@1.9.0" integrity="sha384-aOxz9UdWG0yBiyrTwPeMibmaoq07/d3a96GCbb9x60f3mOt5zwkjdbcHFnKH8qls" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
<style>
    form {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<form id="form">
    <link rel="stylesheet" href="{% static 'gds_grabbage/active_search/active_search.css' %}">
    {% include 'gds_grabbage/active_search/active_search.html' with hx_id="search" hx_name="fruits" view_name="search" %}
</form>

<script>
const form = document.getElementById("form");

for (const event of ["select", "remove"]) {
    document.getElementById("form").addEventListener(event, () => {
        const formData = new FormData(form);
        console.log(formData.getAll("fruits"))
    });
}
</script>
{% endblock content %}