{% extends "base.html" %}
{% load static active_search %}

{% block content %}
<script src="https://unpkg.com/htmx.org@1.9.0" integrity="sha384-aOxz9UdWG0yBiyrTwPeMibmaoq07/d3a96GCbb9x60f3mOt5zwkjdbcHFnKH8qls" crossorigin="anonymous"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
<style>
    form {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<form id="form">
    <link rel="stylesheet" href="{% static 'gds_grabbage/active_search/active_search.css' %}">

    <!-- Using the templatetag directly with data -->
    {% active_search hx_id="users" hx_name="users" view_name="search-users" selected_objects=users %}
    <pre id="users-output"></pre>

    <hr>

    <!-- Using it through a form field -->
    {{ example_form.users }}
</form>
<script>
const form = document.querySelector("#form");
const usersOutput = document.querySelector("#users-output");

const updateUsersOutput = () => {
    const formData = new FormData(form);
    usersOutput.innerHTML = JSON.stringify(formData.getAll("users"));
}
updateUsersOutput();
form.addEventListener("active-search:change", updateUsersOutput);
</script>
{% endblock content %}