{% extends "base.html" %}
{% load gds_grabbage %}
{% block content %}
    <hr />
    {{ back_link }}
    <hr />
    {{ button }}
    <hr />
    {{ accordion }}
    {% gds_accordion "accordion-1" %}
        {% gds_accordion_item "Heading 1" "Summary 1" %}
            <strong>Content1</strong>
        {% end_gds_accordion_item %}
        {% gds_accordion_item "Heading 2" "Summary 2" %}
            <strong>Content2</strong>
        {% end_gds_accordion_item %}
    {% end_gds_accordion %}
    <hr />
    {{ breadcrumbs }}
    <hr />
    {{ character_count }}
    <hr />
    {{ pagination }}
    <hr />
    {{ checkboxes }}
    <hr />
    {{ cookie_banner }}
    <hr />
    {{ date_input }}
    <hr />
    {{ error_message }}
    <hr />
    {% gds_component jinja2_template="govuk_frontend_jinja/components/warning-text/macro.html" macro_name="govukWarningText" text="WARNING: something is wrong!" %}
    <hr />
{% endblock content %}
