{% extends "base.html" %}
{% load static active_search %}

{% block content %}
<script src="https://unpkg.com/htmx.org@1.9.0" integrity="sha384-aOxz9UdWG0yBiyrTwPeMibmaoq07/d3a96GCbb9x60f3mOt5zwkjdbcHFnKH8qls" crossorigin="anonymous"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list">
            {% if messages %}
                {% for message in messages %}
                    <li style="color: #00703c;">{{ message }}</li>
                {% endfor %}
            {% endif %}
        </ul>
        <form id="form" method="post">
            {{ form.media }}
            {% csrf_token %}

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    Which users are you going to select?
                </legend>
                {{ form.users }}
            </fieldset>

            <div>
                <button class="govuk-button">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
const form = document.querySelector("#form");
const usersOutput = document.querySelector("#users-output");

const updateUsersOutput = () => {
    const formData = new FormData(form);
    usersOutput.innerHTML = JSON.stringify(formData.getAll("users"));
}
updateUsersOutput();
form.addEventListener("active-search:change", updateUsersOutput);
</script>
{% endblock content %}