<div id="{{ hx_id }}" class="active-search" hx-vals='{"hx_id": "{{ hx_id }}", "hx_name": "{{ hx_name }}"}' hx-include=".active-search__selected-objects">
    {% include './selected_objects.html' with selected_objects=selected_objects %}
    <div class="active-search__search">
        <input
            type="search"
            name="query"
            class="govuk-input"
            {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
            hx-get="{% url view_name %}?hx_action=search"
            hx-trigger="keyup changed delay:500ms, search, active-search:change from:closest .active-search"
            hx-target="#{{ hx_id }} .active-search__search-results"
            _="init if me.value then trigger 'search'"
        >
    </div>
    {% include './search_results.html' with search_results=None %}
</div>