{% comment %} {% extends "govuk_frontend_django/base.html" %} {% endcomment %}
{% load static %}
{% comment %} {% load static gds_grabbage %} {% endcomment %}

{% block title %}GDS Grabbage example project{% endblock title %}

{% block head %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block header %}
    {% url "active-search" as active_search_url %}
    <a href="{{ active_search_url }}">{{ active_search_url }}</a>
    {% url "user-listing" as users_url %}
    <a href="{{ users_url }}">{{ users_url }}</a>
    {% comment %} {% gds_header homepageUrl="/" serviceName="GDS Grabbage example project" serviceUrl="/" containerClasses="govuk-width-container" %}
        {% gds_header_nav_item href=active_search_url text="Active search" %}
        {% gds_header_nav_item href=users_url text="User list" %}
    {% end_gds_header %} {% endcomment %}
{% endblock header %}

{% block content %}{% endblock content %}

{% block body_end %}
    <script src='{% static "govuk-frontend/govuk/all.js" %}'></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script>
        const CSRF_TOKEN = "{{ csrf_token }}";

        document.body.addEventListener('htmx:configRequest', function(event) {
            event.detail.headers['X-CSRFToken'] = CSRF_TOKEN;
        });
    </script>
{% endblock body_end %}
