{% extends "gds_grabbage/gds_components/base.html" %}
{% load static %}

{% block title %}
    {% if page_title %}{{ page_title }} -{% endif %}
    {{ SERVICE_NAME }}

    {% block head %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    {% endblock head %}
{% endblock title %}

{% block body_end %}
    <script src='{% static "govuk-frontend/govuk/all.js" %}'></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script>
        const CSRF_TOKEN = "{{ csrf_token }}";

        document.body.addEventListener('htmx:configRequest', function(event) {
            event.detail.headers['X-CSRFToken'] = CSRF_TOKEN;
        });
    </script>
{% endblock body_end %}
